:root {
  --default_padding: 25px;
  --default_opacity: 0.95;
}

#body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#main_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--default_padding);
}

#header {
  font-family: "Anton", sans-serif;
  border: 1px solid blue;
}

#streak_counter {
  font-family: "Anton", sans-serif;
  font-weight: 1000;
}

#middle_section {
  font-family: "Anton", sans-serif;
  border: 1px solid red;
}

#bottom_section {
  display: block;
  font-family: "Anton", sans-serif;
  border: 1px solid black;
}

#quote {
  border: 1px solid black;
  font-family: "Noto Serif Lao", serif;
  font-size: 14px;
  font-weight: 1000;
  background-color: #e1cd94;
  opacity: var(--default_opacity);
}

#experience {
  border: 1px solid black;
}

#level {
  border: 1px solid black;
}
